{
  "DEBUG": false,

  "CFP_BOT": {
    "PREVIEWS": true
  },

  "PORTAL": {
    "SERVER_HOST": "mts.slsw.hu",
    "SERVER_PORT": 9999,

    "API_HOST": "api.tchspk.rs",
    "API_VERSION": "1.0",

    "SHORT_LINK_HOST": "tchspk.rs"
  },

  "TELEGRAM": {
    "API_URL": "https://api.telegram.org/",
    "BOT_ID": "bot000000000",
    "ACCESS_TOKEN": "000000000:abcdefgh12345678-ABCDEFGH9876543210",
    "CHAT_ID": "12345",
    "CHAT_ID_DEBUG": "99999",

    "SEND_HOUR": 5,
    "SEND_MINS": 0
  },

  "TWITTER": {
    "MAIN": {
      "API_KEY": "xxxx",
      "API_SECRET": "abcdxxxx1233",
      "ACCESS_TOKEN": "123456789012345678-xxxxx",
      "ACCESS_TOKEN_SECRET": "abcdEFG123ABCD"
    },
    "PREVIEW": {
      "API_KEY": "xxxx",
      "API_SECRET": "abcdxxxx1233",
      "ACCESS_TOKEN": "123456789012345678-xxxxx",
      "ACCESS_TOKEN_SECRET": "abcdEFG123ABCD"
    },

    "SEND_HOUR": 6,
    "SEND_MINS": 0,
    "SEND_INTERVAL": 300
  }
}
