body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;

  background-image: url(/img/mtscfps.png);
  background-position: top center;
  background-color: #0ac;
  color: white;

  background-size: 20vh 20vh;
  background-repeat: no-repeat;
  padding-top: 20vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 640px) {
  body {
    font-size: 3vw;
  }
  ul {
    width: 24em;
    max-width: 90vw;
  }
}

body {
}

ul {
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  flex-direction: row;

  line-height: 1.2;
  margin-bottom: .5em;
}

.dt {
  flex: 0 0 5em;
}


@media (max-width: 24rem) {
li {
  flex-direction: column;
  margin-bottom: 1em;
}
.dt {
  flex: 0;
  font-weight: bold;
}
}


a {
  color: white;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #fa0;
}


.twitter-channel {
  font-size: .66em;
  padding: 1.5em;
  margin-top: -3em;
  font-style: italic;
}
.twitter-channel svg {
  display: inline;
  height: 1.5em;
  vertical-align: bottom;
}